{% extends 'base.html.twig' %}

{% block back_content %}
    <h1>Fournisseurs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Societe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td>{{ fournisseur.id }}</td>
                <td>{{ fournisseur.matricule }}</td>
                <td>{{ fournisseur.nom }}</td>
                <td>{{ fournisseur.societe }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('fournisseurs_show', {'id': fournisseur.id}) }}">show</a>
                    <a class="btn btn-danger" href="{{ path('fournisseurs_edit', {'id': fournisseur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('fournisseurs_new') }}">Create new</a>
{% endblock %}
